.slider {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-slider {
    width: 40%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slider-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.slider-image {
    flex-shrink: 0;
    width: 100%;
    object-position: center;
    object-fit: contain;
    border-radius: 20px;
}

.slider-control {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: 0.3s ease-in-out;
}

.slider-control:hover {
    transform: translateX(5px);
    background-color: rgba(0, 0, 0, 0.6);
}

.slider-control.prev {
    left: 20px;
}

.slider-control.next {
    right: 20px;
}

@media screen and (max-width: 500px) {
    .container-slider {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container-slider {
        width: 55%;
    }
}